{% extends 'base.html' %}

{% block content %}
    <h1>Search Users</h1>

    <form method="get" action="{{ url_for('search_users') }}">
        <input type="text" name="search" placeholder="Search users...">
        <button type="submit">Search</button>
    </form>
    
    {% if results %}
        <h2>Results:</h2>
        <ul>
            {% for result in results %}
                <li>
                    {{ result.first_name }} {{ result.last_name }} ({{ result.username }})
                    <a href="{{ url_for('add_friend', friend_id=result.id) }}">Add as Friend</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}

    